// header
header{
    width:100%;
    background:#fff;
    -webkit-box-shadow:0 0 5px 1px rgba(0,0,0,.5);
    -moz-box-shadow:0 0 5px 1px rgba(0,0,0,.5);
    -o-box-shadow:0 0 5px 1px rgba(0,0,0,.5);
    box-shadow:0 0 5px 1px rgba(0,0,0,.5);
}
