<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    {% block head %}
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />
    <link rel="stylesheet" href="/static/build/css/global/base.css" />
    {% endblock %}
</head>

<body>
    <div class="wrapper">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        {% block footer %}
        {% endblock %}

    </div>
</body>

</html>