{% extends "base.html"%} {% block head %} {{ super() }} {% endblock %} {% block content %} {% if data.userid %}
<h1>Hello, {{ data.userid }}!</h1>
{% else %}
<h1>Hello, User!</h1>
{% endif %}
<script type="text/template" id="search_template">
    <label for="search_input">
        <%=s earch_label %>
    </label>
    <input type="text" name="search_input" id="search_input" />
    <input id="search_button" type="button" value="Search" />
</script>
<div id="search_container"></div>

<ul>
    <li>
        <a href="#actions">testActions</a>
    </li>
    <li>
        <a href="#actions">testActions</a>
    </li>
    <li><a href="#manual">manual</a>
    </li>
</ul>


<script src="../static/build/vendor/jquery/dist/jquery.js"></script>
<script src="../static/build/vendor/underscore/underscore.js"></script>
<script src="../static/build/vendor/backbone/backbone.js"></script>
<script src="../static/src/spa.js"></script>
{% endblock %}